/*==================================
  グローバルスタイル
==================================*/
:root {
    font-size: 100%;

    --color-background: #fff;
    --color-background-border: #e0e0e0;
    --color-accent: #333;
    --color-accent-2: #666;
    --color-accent-3: #00479d;
    --color-overray: rgba(0, 0, 0, 0.5);
    --color-header-text: #000;
    --color-body-text: #333;
    --color-body-text-2: #555;
    --color-body-text-dark: #fff;
    --color-link-text: #00479d;
    --color-link-text-hovar: #002d6b;
    --color-submit-button: #00479d;
    --color-submit-button-hovar: #002d6b;
    --color-disabled-button: #ccc;
    --color-white-emphasis: #f0f0f0;

    --font-size-h2: clamp(1.25rem, 1.0vw + 1rem, 2rem);
    --font-size-h3: clamp(1.1rem, 0.8vw + 1rem, 1.5rem);
    --font-size-h4: clamp(1.0rem, 0.4vw + 1rem, 1.2rem);
    --font-size-h5: clamp(0.9rem, 0.2vw + 1rem, 1.1rem);
    --font-size-body-text: clamp(0.875rem, 0.1vw + 0.8rem, 1rem);
    --font-size-caption: clamp(0.8rem, 0.1vw + 0.7rem, 0.9rem);
}

html, body {
  margin: 0;
  padding: 0;
}

:target {
    scroll-margin-top: 80px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 20px 30px 20px;
    min-height: 100vh;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8;
    color: var(--color-body-text);
    padding-top: 100px; /* ヘッダー分下げる */
    background-color: var(--color-background);
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-link-text);
    transition: opacity 0.3s ease;
}

a:hover {
    opacity: 0.7;
}


.button-container {
    text-align: center;
    margin-top: 40px;
}

.button {
    display: inline-block;
    padding: 15px 40px; 
    background-color: var(--color-accent);
    color: var(--color-background);
    border-radius: 50px; 
    font-weight: 500; 
    border: 1px solid var(--color-accent);
    transition: all 0.3s ease;
    text-transform: uppercase; 
    letter-spacing: 0.1em; 
}

.button:hover {
    background-color: transparent; /* 背景を透明に */
    color: var(--color-header-text); /* テキストを黒に */
    transform: translateY(-5px); /* ホバーで少し大きく浮かせる */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* ホバー時に影を追加 */
}
