/*==================================
  サイトマップ専用スタイル (リスト版)
==================================*/
.sitemap-container {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}

/* ツリー構造の基本スタイル */
.sitemap-tree,
.sitemap-tree ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

/* 階層ごとのインデントと色分け */
.sitemap-tree > li {
    background-color: var(--color-white-emphasis); 
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.sitemap-tree li ul {
    background-color: var(--color-background);
    padding: 10px 0 10px 20px;
    margin-top: 10px;
    border-left: 2px solid #ccc;
    margin-left: 10px;
}

.sitemap-tree li ul li {
    padding-left: 15px;
    position: relative;
}

.sitemap-tree li ul li::before {
    content: '→';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-link-text);
    font-size: var(--font-size-body-text);
}


/* リストアイテムのスタイル */
.sitemap-tree li a {
    display: block;
    padding: 10px;
    color: var(--color-body-text);
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sitemap-tree li a:hover {
    background-color: #eef7ff;
    color: var(--color-link-text-hovar);
}